<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gm.dao.UserMapper">


    <update id="recordIpInfo">
        update music.tb_userinfo set errorTime=#{date},errorIpId=#{ipId},nums=#{nums} where id=#{id}
    </update>
    <update id="removeTime">
        update music.tb_userinfo set errorIpId=0,nums=0 where nums != 0 and errorTime &lt;= #{date}
    </update>

</mapper>
